Flask
gunicorn
pandas
numpy
scikit-learn
scipy
requests
beautifulsoup4
lxml
python-dateutil
schedule
opencv-python
face-recognition
Pillow
fpdf
python-dotenv
jinja2
Werkzeug
itsdangerous
click
joblib
threadpoolctl
charset-normalizer
certifi
urllib3
idna
